@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{box-sizing: border-box;}
html{height: 100%}
body{background: #222; color: #fff; height: 100%; font-family: "Nanum Gothic", sans-serif;}
a{color: #fff; text-decoration: none;}
.inner{max-width: 1200px; margin: 0 auto; width: 100%; height: inherit; /* background: rgba(255,255,255,.3); */ }

.mobileHeader{
        display: none;
        height: 60px;
        width: 100%;
        padding: 0 20px;
        background: rgb(56, 18, 18);
        position: fixed;
        left: 0;
        z-index: 10;
}
.mobileMenu{
    width: 100%;
    height: 960px;
    background: #404040;
    position: absolute;
    top: 0;
    left:-100%;
    z-index: 10;
    padding: 20px;

}

.mobilemenuHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #878787;
}
.mobilemenuHeader h1{width: 36px; height: 36px}
.mobilemenuHeader h1 img{width: 100%}
.mobilemenuHeader .close i{
    font-size: 32x;
    color: #878787;
}
.mobileList{
    margin-top: 30px;
}
.mobileList .mobileNav ul li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #878787;
}
.mobileList .mobileNav ul li a{
    color: #fff;
}
.mobileList .mobileNav ul li:nth-child(3) a{
    color: #fe7a16;
}
.mobileFooter{
    margin-top: 20px;

}
.mobileFooter p{
    color: #acacac;
    margin-bottom: 20px;
}
.mobileFooter .btn button{
    padding: 5px 10px;
    border: none;
    background-color: #000;
    color: #fff;
}









.mobileHeader>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.mobileHeader>ul>li{}
.mobileHeader>ul>li>a{}






#header{
    width: 100%;
    height:80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: transparent;
    transition: background .3s ease;
}
#header.on{
    background: rgba(0,0,0,.8);
}
#header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .inner .navWrap{position: relative; }
#header .inner .navWrap .gnb{
    position: absolute;
    top:-20px;
    right: 0;
}
#header .inner .navWrap .gnb ul{
    display: flex;
}
#header .inner .navWrap .gnb ul li{margin-left: 10px;}
#header .inner .navWrap .gnb ul li a{position: relative; font-size: 14px;}
#header .inner .navWrap .gnb ul li:not(:last-child) a:after{
    width: 1px;
    height: 10px;
    background: #fff;
    content:"";
    position: absolute;
    top: 3px;
    right: -5px;
}
#header .inner .navWrap #nav{margin-top: 10px;}
#header .inner .navWrap #nav ul{
    display: flex;
    gap: 10px;
}

#header .inner .navWrap #nav ul li a:hover{
    text-decoration: underline;
}
main{width:100%;}
#section1{width:100%; position: relative;
    height: 100vh;
    overflow: hidden;
}
.m-video{width:100%;}
.m-video video{width:100%;}
.m-icon-footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    background: rgba(49,49,49,.6);
}
.m-icon-footer i{font-size: 24px;}
.m-icon-footer ul{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
     border-left: 1px solid rgba(255,255,255,.3);
}
.m-icon-footer ul li{
    text-align: center;
    width: 60px;
    height: 60px;
    border-right: 1px solid rgba(255,255,255,.3);
}
.m-icon-footer ul li.add{
    background: rgba(159, 157, 157, 0.6);
}
.m-icon-footer ul li a{height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#section2{
    width: 100%;
    background-image: linear-gradient(to right, #4f4f4f, #4f4f4f 50%, rgb(62, 142, 71) 50%);
}
#section2 ul{display: flex;}
#section2 ul li{
    flex-basis: 50%;
}
#section2 ul li>div{
    padding: 70px 80px;
}
#section2 ul li>div .section2-title{
    margin-bottom: 30px;
}
#section2 ul li>div .section2-title h2{
    color:rgba(255,255,255,.8);
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}
#section2 ul li>div .section2-content p{
    line-height: 1.6;
}
#section3{
    width: 100%;
    height: 800px;
    background: #fff;
    padding: 100px 0;
    overflow: hidden;
   
}
#section3 h2{
    color: #9f9999;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
}
#section3 .tranding-wrap{
    position: relative;
    width: 100%;
    height: 400px;
}
#section3 .tranding-wrap ul{
    display: flex;
    width: calc(400px * 10);
    flex-flow: row nowrap;
    top: 0;
    left: 0;
    position: absolute;
}
#section3 .tranding-wrap ul li{
    width: 400px;
    height: 100%;
}


#section3 img{width: 100%; height:100%;}

.ir_so{
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -99999em;
    position: absolute;
}
#section4{width: 100%}
#section4>div{width: 100%}
#section4>div .page-tab{
    width: 100%;
    height: 50px;
    background-color: #2c3437;
}
.filter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.filter-form .form-item input{
    display: none;
}
.filter-form .form-item input:checked ~ label{
    background: #26494d;
    color: #fff;
}
.filter-form .form-item label{
    padding: 16px 30px;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
}

.gallery{
    width: 100%;
}
.gallery-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}
.gallery-wrap li{
    width: 25%;
    overflow: hidden;
    position: relative;
}
.gallery-wrap li div{
    width: 100%;
}
.gallery-wrap li div a{
    display: block;
    position: relative;
    display: block;
}

.g-video{
    width: 100%;
    z-index: 1;
}
.g-video video{
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1);
    transition: .3s;
}
.g-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    transition: .3s;
    z-index: 2;
    top: 0;
    left: 0;
   opacity: 0;
}
.gallery-wrap li div a:hover video{
    transform: scale(1.3);
}
.gallery-wrap li div a:hover .g-color,
.gallery-wrap li div a:hover .g-title
{
     opacity: 1;
}
.g-title{
    position: absolute;
    z-index: 3;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
}
.g-title span strong{
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}
.g-title span b{
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.loadMore{
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background: #132d30;
}
.loadMore .loadMoreBt{
    width:200px;
    height: 45px;
    color: #dee4e3;
    background: #384244;
    border: 1px solid #5e686a
}

#footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    background: #3d3d3d;
}
.copyright_footerMenu{
    display: flex;
}
.copyright_footerMenu h2{margin-right: 30px;}
.copyright_footerMenu h2 a{
   /*  width: 60px;
    height: 60px;
    display: block; */
    display: flex;
}
.copyright_footerMenu h2 a img{
    width: 60px;
    margin-right: 20px;
}
.copyright_footerMenu h2 a span{
    display: inline-block;
    padding-top: 30px;
    color: rgba(255,255,255,.6)
}
.footerMenu{
    display: flex;
    gap:20px;
}
.footerMenu ul{}
.footerMenu ul li{
    line-height: 180%;;
}
.footerMenu ul li a{color: rgba(255,255,255,.6)}
.currency_sns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.currency{
    border: 1px solid #ddd;
    padding: 5px 10px;
    position: relative;
    width: 110px;
}
.currency span{}
.currency>a{ margin-left: 5px;width:10px; height: 10px; display: inline-block;
    background: url(../img/dd-down.svg) no-repeat center center;
}
.currency .currencys{
    display: none;
    position: absolute;
    background: #ddd;
    padding: 20px;
    top:-156px;
    left: 0;
    width: 105px;
}
.currency .currencys>div{}
.currency .currencys>div ul{}
.currency .currencys>div ul li{
    line-height: 180%;
}

.currency .currencys>div ul li a{
    color: #333
}
.sns{}
.sns div{}
.sns div ul{display: flex; gap:20px}
.sns div ul li{
    width: 24px;
    height: 24px;
}
.sns div ul .ins{
    background: url(../img/instagram.svg)no-repeat;
}
.sns div ul .face{background: url(../img/facebook.svg)no-repeat;}
.sns div ul .pin{background: url(../img/pinterest.svg)no-repeat;}
.sns div ul .linke{background: url(../img/linkedin.svg)no-repeat;}
.sns div ul .spot{background: url(../img/spotify.svg)no-repeat;}

@media screen and (max-width: 1200px){
   #header .inner{
        padding: 0 20px;
    }
    #footer{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    }
    .currency_sns{
        margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }
    .currency{
    order: 1;
    }
}
@media screen and (max-width: 1024px){
   #header {
       display: none;
    }
    .mobileHeader{
        display: block;
    }
    .m-icon-footer{
        padding: 0 20px;
    }

   /*  #4f4f4f 50%, rgb(62, 142, 71) */
    #section2{
        width: 100%;
        background-image: none;
    }
    #section2 ul{display: flex;
        flex-direction: column;
    }
    #section2 ul li{
        flex-basis: 100%;
    }
    #section2 ul li:nth-child(1){
        background: #4f4f4f;
    }
     #section2 ul li:nth-child(2){
        background: rgb(62, 142, 71);
    }

    .gallery-wrap li{
    width: 50%;
    }
    .currency_sns{
        display: block;
    }
    .sns{
        margin-top: 20px;
    }
    .copyright_footerMenu{
        display: block;
    }
    .footerMenu{display: block; margin-top: 20px;}
}
@media screen and (max-width:568px){
    #section2 ul li>div{
        padding: 40px 20px;
    }
    #section2 ul li>div .section2-title{
        margin-bottom: 20px;
    }
    #section2 ul li>div .section2-title h2{
        font-size: 18px;
    }
    #section2 ul li>div .section2-content p{
        line-height: 1.4;
    }
    .gallery-wrap li{
    width: 100%;
    }
    #section3{
    padding: 20px 0;
    }
    .filter-form .form-item label{
        padding: 16px 16px;
    }

}